test{
    color: #a0d2eb;
    color: #e5eaf5;
    color: #d0bdf4;
    color: #7a50a8;
    color: #905fc4;
    color: #494d5f;
    color: #f1f1f1;

    color: #f1f1f1;
    color: #f1f1f1;
    color: #f1f1f1;

}
*{
    /* border: 1px dotted gray; */
    /* text-align: center; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    background-color: #f1f1f1;
}
.base{
    border-radius: 5px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 2px 2px 4px 4px #c9cdd663;
}
.center-cropped {
    object-fit: cover;
    object-position: center;
    max-height: 60vh;
    width: 100%;
    padding: 20px;
}
/* {box-sizing: border-box;} */

.new-img-btn {
    min-height: 6vh;
    cursor: pointer;
    opacity: 0.8;   
    background-color: #fff;
    border: 1px dotted black;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px #c9cdd6a6;
} 

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 15px;
  right: 15px;
  border-radius: 5px;
  border: 1px dashed gray;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 350px;
  padding: 25px 25px 0 25px;
  background-color: white;
  border-radius: 5px;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
    width: 100%;
    color: green;
    cursor: pointer;
    opacity: 0.8;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px dotted black;
    background-color: #fff;
    box-shadow: 2px 2px 2px 2px rgba(0, 100, 0, 0.2);
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  color: red;
  box-shadow: 2px 2px 2px 2px rgba(100, 0, 0, 0.2);
  margin-bottom: 5px;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 0.9;
  color: #2c4f8f;
}

/* -------------- File Upload----------------*/

#choose-file-button{
    width: 100%;
    color: #2c4f8f;
    cursor: pointer;
    opacity: 0.8;
    border-radius: 5px;
    padding: 10px;
    border: 1px dotted black;
    background-color: #fff;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 100, 0.2);
}
#choose-file-button:hover {
    opacity: 0.9;
    color: #2c4f8f;
}
#choose-file-text{
    display: block;
    width: 100%;
    padding: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: sans-serif;
    color: #666;
    text-align: center;
}

.cancel-popup{
    width: 100%;
    color: red;
    cursor: pointer;
    opacity: 0.8;
    margin-bottom: 25px;
    border-radius: 5px;
    padding: 10px;
    border: 1px dotted black;
    background-color: #fff;
    box-shadow: 2px 2px 2px 2px rgba(100, 0, 0, 0.2);
}
#cancel-popup:hover {
    opacity: 0.9;
    color: #2c4f8f;
}
/* #submit-file{
    width: 100%;
    padding: 10px;
    background-color: #905fc4;
    border: 1px solid #fff;
    border-radius: 5px;
    cursor: pointer;
    font-family: sans-serif;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
}
#submit-file:hover {
    background-color: #7a50a8;
} */